<div class="modal-header">
    <h5 class="modal-title">Thêm mới danh mục</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="categoryType">Loại danh mục</label>
            <select class="form-control" id="categoryType" [(ngModel)]="category.typeId" name="typeId"> 
              <option *ngFor="let categoryType of categoryTypes" [ngValue]="categoryType.id">
                {{ categoryType.name }}
              </option>
            </select>
          </div>
        <div class="form-group">
            <label for="categoryCode">Mã danh mục</label>
            <input type="text" class="form-control" id="categoryCode" [(ngModel)]="category.code" name="code">
        </div>
        <div class="form-group">
            <label for="categoryName">Tên danh mục</label>
            <input type="text" class="form-control" id="categoryName" [(ngModel)]="category.name" name="name">
        </div>
        <div class="form-group">
            <label for="categoryEffectiveDate">Ngày hiệu lực</label>
            <input type="date" class="form-control" id="categoryEffectiveDate" [(ngModel)]="category.effective_date"
                name="effective_date">
        </div>
        <div class="form-group">
            <label for="categoryExpiredDate">Ngày hết hạn</label>
            <input type="date" class="form-control" id="categoryExpiredDate" [(ngModel)]="category.expired_date"
                name="expired_date">
        </div>
        <div class="form-group">
            <label for="categoryDescription">Mô tả</label>
            <input type="text" class="form-control" id="categoryDescription" [(ngModel)]="category.description"
                name="description">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
    <button type="button" class="btn btn-primary" (click)="onSubmit()">Thêm</button>
</div>