
<c-container>
  <c-row>
    <c-col xs="4" cBorder="10" padding="10">
      <ul>
        <li *ngFor="let organization of organizationTree">
          <span (click)="onOrganizationClick(organization)">{{ organization.name }}</span>
          <ul *ngIf="organizationsToShow.includes(organization)">
            <ng-container *ngTemplateOutlet="organizationTemplate; context: { $implicit: organization.children }"></ng-container>
          </ul>
        </li>
      </ul>
      <ng-template #organizationTemplate let-organizations>
        <li *ngFor="let organization of organizations">
          <span (click)="onOrganizationClick(organization)">{{ organization.name }}</span>
          <ul *ngIf="organizationsToShow.includes(organization)">
            <ng-container *ngTemplateOutlet="organizationTemplate; context: { $implicit: organization.children }"></ng-container>
          </ul>
        </li>
      </ng-template>
    </c-col>
    <c-col xs="8">
      <c-row [sm]="2" cBorder="10" padding="10">
        <div style="margin-bottom: 10px; ">
          <strong>Tìm kiếm đơn vị</strong>
        </div>
      </c-row>
      <c-row>
        <c-col [xs]>
          <input aria-label="Tên đơn vị" cFormControl placeholder="Tên đơn vị" />
        </c-col>
        <c-col [xs]>
          <c-form-check inline>
            <label cFormCheckLabel for="radioinline1">Là đơn vị tuyển dụng</label>
            <input cFormCheckInput checked id="radioinline1" name="radioinline" type="radio" />
          </c-form-check>
        </c-col>
      </c-row>
      <c-row>
        <div style="text-align: center; magin-top: 5px;">
          <button cButton color="primary" variant="outline">Tìm kiếm</button>
        </div>
      </c-row>
      <c-row [sm]="10" cBorder="10" padding="10" style="margin-top: 20px;">
        <div style="display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #ccc;">
          <strong>Danh sách đơn vị</strong>
          <button mat-raised-button (click)="openAddRO()" cButton color="primary">+ Thêm</button>
        </div>
        <c-row ngPreserveWhitespaces>
          <c-col xs="12">
            <c-card class="mb-4" style="border-radius: 10px;">
              <c-card-header>
                <strong>Bảng</strong> <small>(Category)</small>
              </c-card-header>
              <c-card-body>
                <table class="table table-bordered" style="margin-top: 20px;">
                  <thead>
                    <tr>
                      <th scope="col">STT</th>
                      <th scope="col">Sửa</th>
                      <th scope="col">Tên đơn vị</th>
                      <th scope="col">Ngày hiệu lực</th>
                      <th scope="col">Ngày hết hiệu lực</th>
                      <th scope="col">Quy mô nhân sự</th>
                      <th scope="col">Địa chỉ</th>
                      <th scope="col">Là đơn vị tuyển dụng</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of RecruitmentOrganizations">
                      <th scope="row">{{ item.organizationId }}</th>
                      <td>
                        <button cButton color="primary" (click)="edit(item.id)">Sửa</button>
                      </td>
                      <td>{{ item.organizationName }}</td>
                      <td>{{item.effective_start_date}}</td>
                      <td>{{item.effective_end_date}}</td>
                      <td>{{item.scope}}</td>
                      <td>{{item.officeAddress}}</td>
                      <td>
                        <div>
                          <c-badge [color]="item.active ? 'success' : 'danger'">
                            {{ item.is_active ? '' : '' }}
                          </c-badge>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </c-card-body>
            </c-card>
          </c-col>
        </c-row>
      </c-row>
    </c-col>
  </c-row>
</c-container>