<div style="display: flex; gap: 20px;">
  <div style="flex-basis: 30%; border: 1px solid #ccc; padding: 10px; border-radius: 10px;">
    <div style="display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #ccc;">
      <strong>Loại danh mục</strong>
      <button mat-raised-button (click)="openDialogAdd()" cButton color="primary">+ Thêm</button>
    </div>
    <div style="display: flex; align-items: center; margin-top: 10px; border-bottom: 1px solid #ccc;">
      <input aria-label="sm input example" cFormControl placeholder="Tìm kiếm" sizing="sm" type="text">
      <span style="margin-left: 5px;"><i class="fas fa-search"></i></span>
    </div>
    <c-row ngPreserveWhitespaces style="margin-top: 10px;">
      <c-col xs="12">
        <c-card class="mb-4" style="border-radius: 10px;">
          <c-card-header>
            <strong>Kiểu danh mục</strong>
          </c-card-header>
          <c-card-body>
            <table class="table table-bordered" style="margin-top: 20px;">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Actions</th> <!-- Thêm cột Actions -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of category_types">
                  <th scope="row">{{ item.id }}</th>
                  <td>{{ item.name }}</td>
                  <td>
                    <button cButton color="primary" (click)="deleteCategoryType(item.id)">Xóa</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </div>
  <div
    style="flex-basis: 70%; display: flex; flex-direction: column; border: 1px solid #ccc; padding: 10px; border-radius: 10px;">
    <div style="flex-basis: 60%; border-bottom: 1px solid #ccc;">
      <div style="text-align: center; margin-bottom: 10px;">
        <strong>Tìm kiếm danh mục</strong>
      </div>
      <div style="display: flex; align-items: center; margin-bottom: 10px;">
        <c-row>
          <c-col [xs]>
            <input aria-label="Mã danh mục" cFormControl placeholder="Mã danh mục" />
          </c-col>
          <c-col [xs]>
            <input aria-label="Tên danh mục" cFormControl placeholder="Tên danh mục" />
          </c-col>
        </c-row>
      </div>
      <div style="display: flex; align-items: center; margin-bottom: 10px;">
        <div style="width: 150px;">Trạng thái:</div>
        <c-form-check inline>
          <input cFormCheckInput checked id="radioinline1" name="radioinline" type="radio" />
          <label cFormCheckLabel for="radioinline1">Tất cả</label>
        </c-form-check>
        <c-form-check inline>
          <input cFormCheckInput id="radioinline2" name="radioinline" type="radio" />
          <label cFormCheckLabel for="radioinline2">Hiệu lực</label>
        </c-form-check>
        <c-form-check inline>
          <input cFormCheckInput disabled id="radioinline3" name="radioinline" type="radio" />
          <label cFormCheckLabel for="radioinline3">Hết hiệu lực (disabled)</label>
        </c-form-check>
      </div>
      <div style="text-align: center;">
        <button cButton color="primary" variant="outline">Tìm kiếm</button>
      </div>
    </div>

    <div style="flex-basis: 40%; margin-top: 20px;">
      <c-row ngPreserveWhitespaces>
        <c-col xs="12">
          <c-card class="mb-4" style="border-radius: 10px;">
            <c-card-header>
              <div
                style="display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #ccc;">
                <strong>Bảng danh mục</strong>
                <button (click)="openPopupAddCategory()" cButton class="me-1" color="primary">+ Thêm</button>
              </div>
            </c-card-header>
            <c-card-body>
              <p class="text-medium-emphasis small">
                Mô tả về bảng danh mục
              </p>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Thao tác</th>
                    <th scope="col">Mã Danh mục</th>
                    <th scope="col">Tên danh mục</th>
                    <th scope="col">Ngày hiệu lực</th>
                    <th scope="col">Ngày hết hiệu lực</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let category of categories">
                    <th scope="row">{{ category.id }}</th>
                    <td>
                      <button mat-raised-button (click)="openDialog()" cButton color="primary">EDIT</button>
                      <button cButton color="primary" (click)="deleteCategory(category.id)">Xóa</button>
                    </td>
                    <td>{{ category.code }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.effective_date}}</td>
                    <td>{{ category.expired_date}}</td>
                  </tr>
                </tbody>
              </table>
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
    </div>
  </div>
</div>